@model Demo.Business.ViewModels.SedeOlimpica.SedeOlimpicaViewModel

@{
    ViewData["Title"] = "Eliminar sede";
}

<div class="container-fluid">

    <form method="post" asp-controller="SedeOlimpica" asp-action="Delete">

        <div class="card col-8 offset-2">
            <div class="card-header bg-black text-white">
                <h4 class="text-center fst-italic">Eliminando: @Model.Nombre</h4>
            </div>
            <div class="card-body">
                <h5 class="fst-italic">Estas seguro de eliminar @Model.Nombre de la lista de sedes?</h5>
            </div>
            <div class="card-footer">
                <div>
                    <button type="submit" class="btn btn-outline-danger">Remove</button>
                    <a asp-controller="SedeOlimpica" asp-action="Index" class="btn btn-outline-warning">Back</a>
                </div>
            </div>
        </div>

        <input asp-for="Id" type="hidden">

    </form>
</div>